<div class="main-container">
  <div class="header">
    <img src="/assets/yardsale-logo.png" alt="Belle Creek Community Garage Sale">
  </div>

  <h2>Completed on June 2nd</h2>
  <p>The Belle Creek Community hosted a garage sale on June 2nd starting. There was dozens of different homes selling everything
    from children's toys and clothes to books and tools.</p>
  <p>Many of the homes chose to sell in the park and these homes saw a lot more traffic than many of the others. The bouncy
    castle was a big hit with kids. The Metro District would like to thank everyone who participated in the sale or came
    to buy. This year was a big success and we hope to build on this in the future.</p>
  <p>Some areas that we plan to improve next year include: </p>
  <ul>
    <li>Put large banners at the entrances to the community.</li>
    <li>Again offer, but also advertise, free-to-use tables in the park.</li>
    <li>We discovered that donation centers will not pick up on the weekends - look into providing a drop off zone at the family
      center for donations to be picked up during the week.</li>
    <li>Look into extending the hours/days.</li>
  </ul>
  <h3>Here is the final map of registered salers this year.</h3>
  <div class="map-container">
    <img src="/assets/last-yard-sale-map.png" />
  </div>
  <p>If you'd like to participate in the planning and execution of these kinds of events in the future. Email
    <a href="mailto:nephi@bellecreekmd.org">Nephi Wright</a> or
    <a href="mailto:gforrest@denverymca.org">Giovanni Forrest</a> to learn how you can help.
  </p>
  <h3>What is looked like:</h3>
  <p>Here is the bouncy castle just after we set it up. Anyone in the community can rent this bouncy castle from the family
    center for a really good price.</p>
  <div class="image">
    <img src="/assets/photos/bouncy-castle.jpg" alt="A photo of the bouncy castle set up and ready for kids." />
  </div>
  <p>Here is Nephi's and Jose's tents at the beginning of the day - already geting customers while setting up.</p>
  <div class="image">
    <img src="/assets/photos/park-sale-tents.jpg" alt="A photo of tents set up for the sale." />
  </div>
  <div class="footer">
    <img src="/assets/yardsale-footer.svg" alt="Trees and pretty things">
  </div>
</div>
