.main-container {
    max-width: 630px;
    min-height: 95vh;
    padding: 0 30px;
    margin: 0 auto;
    background-color: #E2EDED;   
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2), 
                0 6px 20px 0 rgba(0,0,0,0.19);
}
