@media (min-width: 440px) {
  :host {
    display: block;
    position: relative;
  }
  
  .signup {
    width: 60%;
    position: absolute;
    right: 30px;
    text-align: right;
    margin-top: 30px;
  }
}
