<div class="header">
  <img src="/assets/2019-yardsale-logo.png" alt="Belle Creek Community Garage Sale">
</div>

<h2>May 18th, starting at 6 am</h2>
<p>The Belle Creek Community is hosting a garage sale on May 18th starting at 6am and running all day. There will be dozens
  of different homes selling everything from children's toys and clothes to books and tools.</p>
<p>In addition to many homes having sales, we will also have sales in the community park here 10693 Belle Creek Blvd, Henderson,
  CO 80640</p>
<bc-locations></bc-locations>
<bc-signup-link></bc-signup-link>
<div class="footer">
  <img src="/assets/2019-yardsale-footer.png" alt="Items to rummage through">
</div>
