@media (min-width: 440px) {
  :host {
    display: block;
    position: relative;
  }
  
  .signup {
    width: 60%;
    position: absolute;
    left: 15px;
    text-align: left;
    margin-top: 15px;
  }
}
